<header>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://github.com/timebox-designs/pineapple-in-a-can">Pineapple in a Can</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://backbonejs.org/">Backbone</a></li>
                <li><a href="http://marionettejs.com/">Marionette</a></li>
                <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                <li><a href="http://fortawesome.github.io/Font-Awesome/">Font-Awesome</a></li>
                <li><a href="http://handlebarsjs.com/">Handlebars</a></li>
                <li><a href="http://learnboost.github.io/stylus/">Stylus</a></li>
            </ul>
        </div>
    </div>
</header>

<section class="masthead">
    <div class="container">
        <h1>Chock full of <strong>yummy</strong> goodness!</h1>
        <h2>Yet another <a href="http://brunch.io/">brunch</a> skeleton for the masses</h2>

        <div class="windows">
            <div class="image-left">
                <img class="img-responsive" src="img/browser-window-3.png"/>
            </div>
            <div class="image-center">
                <img class="img-responsive" src="img/browser-window-2.png"/>
            </div>
            <div class="image-right">
                <img class="img-responsive" src="img/browser-window-1.png"/>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="info-bullet">
                    <i class="fa fa-anchor"></i>
                    <h5>Marionette</h5>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum suscipit erat ac est lobortis, vitae tincidunt nunc pharetra.</p>
            </div>
            <div class="col-lg-4">
                <div class="info-bullet">
                    <i class="fa fa-moon-o"></i>
                    <h5>Bootstrap</h5>
                </div>

                <p>Pellentesque tempor rhoncus leo, at interdum nibh vulputate id. Phasellus risus neque, lacinia vitae erat ac, facilisis auctor libero.</p>
            </div>
            <div class="col-lg-4">
                <div class="info-bullet">
                    <i class="fa fa-cogs"></i>
                    <h5>Handlebars</h5>
                </div>

                <p>Sed mattis vel velit a fringilla. Cras at libero accumsan, venenatis dolor consectetur, sagittis purus. Nullam nec pretium turpis.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a class="pull-right" href="https://github.com/timebox-designs/pineapple-in-a-can">timebox designs</a>
            </div>
        </div>
    </div>
</footer>