<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="https://github.com/timebox-designs/pineapple-in-a-can">Pineapple in a can</a>
        </div>
    </div>
</div>

<div id="content" class="container"></div>
